/*
0 - 600px:      Phone
600 - 900px:    Tablet portrait
900 - 1200px:   Tablet landscape
[1200 - 1800] is where our normal styles apply
1800px + :      Big desktop
$breakpoint arguement choices:
- phone
- tab-port
- tab-land
- big-desktop

Inside media queries 1em is always 16px i.e 1em = 16px at every screen size only inside media queries

WHY DOES NESTING CSS CLASSES WORK HERE??????

*/

* {
  --n-blue: 0, 98, 185;
  --blue: rgba(0, 98, 185, 0.8);
  --red: red;
  --purple: rgba(143, 162, 255, 0.8);
  --green: rgba(31, 79, 45, 0.8);
  --light-green: rgba(101, 146, 74, 0.8);
  --brown: rgba(129, 104, 8, 0.8);
  --light-brown: rgba(186, 155, 65, 0.8);
  --main-color: var(--n-blue);
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  font-family: inherit;
}

html {
  background: #e6eef7;
  background: linear-gradient(132deg, rgba(230, 238, 247, 1) 0%, rgba(235, 242, 255, 1) 100%);
  font-size: 62.5%;
  scroll-behavior: smooth;
}

@media only screen and (max-width: 75em) {
  html {
    font-size: 59%;
  }
}

@media only screen and (max-width: 56.25em) {
  html {
    font-size: 56%;
  }
}

@media only screen and (min-width: 112.5em) {
  html {
    font-size: 65%;
  }
}

body {
  box-sizing: border-box;
  position: relative;
  line-height: 1.5;
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
  overflow-y: scroll;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style: none;
}

input:focus,
button:focus,
a:focus,
textarea:focus {
  outline: none;
}

button {
  border: none;
  cursor: pointer;
}

textarea {
  resize: none;
}

.heading-primary {
  margin-left: -25rem;
  padding-top: 5rem;
  font-weight: 600;
  font-size: 6.25rem;
  text-transform: uppercase;
  letter-spacing: 3px;
  text-align: left;
}

@media only screen and (max-width: 37.5em) {
  .heading-primary {
    font-size: 4.5rem;
  }
}

.heading-sec__mb-bg {
  margin-bottom: 7rem;
}

@media only screen and (max-width: 56.25em) {
  .heading-sec__mb-bg {
    margin-bottom: 4rem;
  }

  .heading-primary {
    margin-left: 0;
  }
}

.heading-sec__mb-med {
  margin-bottom: 6rem;
}


.heading-sec__main {
  color: #242323;
  font-weight: 600;
  display: block;
  font-size: 4rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-align: left;
  margin-bottom: 3.5rem;
  position: relative;
  text-align: center;
}

.heading-sec__main--lt {
  color: #fff;
}

.heading-sec__main--lt::after {
  content: '';
  background: #fff !important;
}

@media only screen and (max-width: 56.25em) {
  .heading-sec__mb-med {
    margin-bottom: 3rem;
    text-align: start;
  }

  .heading-sec__main {
    margin-bottom: .5rem;
  }
}


@media only screen and (max-width: 37.5em) {
  .heading-sec__main {
    text-align: start;
  }
}

.heading-sec__sub {
  display: block;
  text-align: left;
  color: #444;
  letter-spacing: 1px;
  font-size: 1.75rem;
  font-weight: 400;
  max-width: 80rem;
  margin: auto;
  line-height: 1.6;
}

@media only screen and (max-width: 37.5em) {
  .heading-sec__sub {
    font-size: 1.8rem;
  }
}

.heading-sec__sub--lt {
  color: #eee;
}

.heading-sm {
  font-size: 2.2rem;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.main-container {
  max-width: 120rem;
  margin: auto;
  width: 92%;
  padding-top: 7rem;
}

.foot {
  display: flex;
  gap: 3rem;
}

.foot h2 {
  color: #fff;
  font-size: 3rem;
  font-weight: 300;
  margin: 0;
  border-right: 2px solid white;
  padding-right: 3rem;
}

.next-section {
  font-size: 2.5rem;
  color: #000000;
  position: relative;
  display: inline-block;

}
.home-hero__content {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100svh;
  /* position: absolute; */
  /* top: 50%; */
  /* left: 50%; */
  text-align: start;
  /* transform: translate(-50%, -50%); */
  /* max-width: 80rem; */
  width: 90%;
}

.learnmore {
  font-size: 1.75rem;
  letter-spacing: 1px;
  color: #0000EE;
  text-transform: uppercase;
  font-weight: 500;
  position: absolute;
  top: 90%;
  right: 0%;
}
.livelink{
  display: block;
  padding-top: 2rem;
  padding-left: .5rem;
  font-size: 1.75rem;
  letter-spacing: 1px;
  color: #0000EE;
  text-transform: uppercase;
  font-weight: 600;
  top: 65%;
  left: 11%;
}

.learnmore:hover , .livelink:hover {
  color: #1E90FF;
}
.externallink{
  width: 16px;
}
.lm {
  position: relative;
}

.next-section::after {
  content: '';
  position: absolute;
  left: 50%;
  bottom: -10%;
  width: 0;
  height: 3px;
  background-color: #242323;
  transform: translateX(-50%);
  transition: width 0.3s ease;
}

.next-section:hover {
  color: #242323;
}

.next-section:hover::after {
  width: 100%;
}

.-hero__cta span {
  font-size: 7rem;
  font-weight: 200;
  position: absolute;
  top: -90%;
  right: -25%;
}

.btn {
  background: #fff;
  color: #333;
  text-transform: uppercase;
  letter-spacing: 2px;
  display: inline-block;
  font-weight: 700;
  border-radius: 5px;
  box-shadow: 0 5px 15px 0 #cedff0;
  transition: transform .3s;
}

.btn:hover {
  transform: translateY(-3px);
}

.btn--bg {
  padding: 1.5rem 8rem;
  font-size: 2rem;
}

.btn--med {
  padding: 1.5rem 5rem;
  font-size: 1.6rem;
}

.btn--theme {
  background: rgba(var(--main-color), 1);
  color: #fff;
}

.btn--theme-inv {
  color: rgba(var(--main-color), 1);
  background: #fff;
  border: 2px solid rgba(var(--main-color), 1);
  box-shadow: none;
  padding: calc(1.5rem - 2px) calc(5rem - 2px);
}

.sec-pad {
  padding: 7rem 0;
  padding-bottom: 10rem;
}

@media only screen and (max-width: 56.25em) {
  .sec-pad {
    padding: 4rem 0;

  }
}

.text-primary {
  max-width: 80rem;
  padding-right: 1rem;
  letter-spacing: 1px;
  color: #202020;
  font-size: 2.5rem;
  margin: 0 auto;
  text-align: left;
  width: 100%;
  line-height: 1.6;
}

@media only screen and (max-width: 37.5em) {
  .text-primary {
    font-size: 2.2rem;
    padding: 0;
  }
}

.d-none {
  display: none;
}

/* rgba(var(--n-blue), 0.8)*/
/* qwe */
.home-hero {
  background: #cedff0;
  background: linear-gradient(132deg, #cedff0 0%, #e7f0fd 100%);
  background-position: center;
  color: #242323;
  height: 100vh;
  min-height: 80rem;
  max-height: 120rem;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media only screen and (max-width: 37.5em) {
  .home-hero {
    height: unset;
    min-height: unset;
  }
  

}

@media only screen and (max-width: 56.25em) {
  .learnmore {
    top: 85%;
  }
 

  
}



@media only screen and (max-width: 37.5em) {
  .home-hero__content {
    padding: 10rem 0 10rem 0;
    margin: auto;
    position: relative;
    transform: translate(0, 0);
  }
}

.home-hero__info {
  margin: 0;
  text-align: start;
  margin-top: 3rem;
  padding-right: 5rem;
}

.home-hero__cta {
  padding-top: 15rem;
  align-self: flex-end;
  padding-right: 30rem;

}

.about__content {
  text-align: center;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 10rem;
}

@media only screen and (max-width: 56.25em) {
  .home-hero__cta {
    padding-right: 7rem;
  }

  .about__content {
    grid-template-columns: 1fr;
    grid-gap: 8rem;
  }

  .home-hero__content {
    align-items: unset;
  }
}

.namespan {
  display: block;
}

.about__content-title {
  font-weight: 500;
  font-size: 3rem;
  margin-bottom: 2rem;
}

@media only screen and (max-width: 37.5em) {
  .about__content-title {
    font-size: 2.5rem;
    text-align: start;
  }

  .foot h2 {
    display: none;
  }

  .home-hero__cta {
    padding-right: 5rem;
  }
}

.about__content-details-para {
  font-size: 1.8rem;
  color: grey;
  max-width: 60rem;
  line-height: 1.7;
  margin-bottom: 1rem;
}

.about__content-details-para--hl {
  font-weight: 700;
  margin: 0 3px;
}

.about__content-details-para:last-child {
  margin-bottom: 4rem;
}

.about {
  padding-bottom: 7rem;
}

.projects__row {
  display: grid;
  grid-template-columns: 1.5fr 1fr;
  grid-gap: 2.5rem;
  box-shadow: 1px 2px 6px #cedff0;
  padding: 2em;
  margin-bottom: 7rem;
  border-radius: 1em;
}

@media only screen and (max-width: 56.25em) {
  .projects__row {
    grid-template-columns: 1fr;
    grid-gap: 2rem;
    margin-bottom: 7rem;
  }
}

@media only screen and (max-width: 56.25em) {
  .projects__row {
    text-align: left;
  }
}

.projects__row:last-child {
  margin-bottom: 0;
}

.projects__row-img-cont {
  overflow: hidden;
}

.projects__row-img {
  width: 100%;
  display: block;
  object-fit: cover;
}

.projects__row-content {
  padding: 0;
  display: flex;
  align-items: center;
  position: relative;
}

@media only screen and (max-width: 56.25em) {
  .projects__row-content {
    /* align-items: center; */
  }

}

.projects__row-content-title {
  font-weight: 500;
  font-size: 2.8rem;
  letter-spacing: 1px;
  line-height: 1.2;
  margin-bottom: 1rem;
}

@media only screen and (max-width: 37.5em) {
  .projects__row-content-title {
    font-size: 2.4rem;
  }
}

.projects__row-content-desc {
  margin-bottom: 3rem;
  font-size: 1.75rem;
  color: #444;
  max-width: 60rem;
  line-height: 1.7;
  letter-spacing: .5px;
  text-align: start;
}

@media only screen and (max-width: 37.5em) {
  .projects__row-content-desc {
    font-size: 1.7rem;
  }
}

.contact {
  display: flex;
  justify-content: center;
  padding: 2.5em;
  background-color: #151515;
  backdrop-filter: blur(10px);
  background-position: center;
}


.project-cs-hero {
  background: #cedff0;
  background: linear-gradient(132deg, #cedff0 0%, #e7f0fd 100%);
  background-position: center;
  position: relative;
}

@media only screen and (max-width: 37.5em) {
  .project-cs-hero {
    height: unset;
    min-height: unset;
  }
}

.project-cs-hero__content {
  padding: 25rem 0 17rem 0;
  max-width: 90rem;
  width: 92%;
  margin: auto;
}

@media only screen and (max-width: 37.5em) {
  .project-cs-hero__content {
    padding: 19rem 0 13rem 0;
    margin: auto;
    position: static;
    transform: translate(0, 0);
  }
}

.project-cs-hero__info {
  margin: 3rem auto 0 auto;
  max-width: 80rem;
}

.project-cs-hero__cta {
  margin-top: 5rem;
  text-align: left;
}

.project-details__content {
  padding: 8rem 0;
  max-width: 90rem;
  margin: auto;
}

.project-details__content-title {
  font-size: 3rem;
  margin-bottom: 3rem;
  font-weight: 500;
  letter-spacing: 1px;
  line-height: 1.2;
}

@media only screen and (max-width: 37.5em) {
  .project-details__content-title {
    font-size: 2.4rem;
  }
}

.project-details__showcase-img-cont {
  width: 100%;
  margin-bottom: 6rem;
}

.project-details__showcase-img {
  width: 100%;
}

.project-details__content-main {
  width: 100%;
  max-width: 70rem;
  margin: auto;
}

.project-details__desc {
  margin: 0 0 7rem 0;
}

.project-details__desc-para {
  font-size: 1.8rem;
  line-height: 1.7;
  margin-bottom: 2rem;


  display: block;
  text-align: left;
  color: #444;
  letter-spacing: .5px;
  font-weight: 400;
  max-width: 80rem;
  margin: auto;
}

.project-details__tools-used {
  margin: 0 0 7rem 0;
}

.project-details__tools-used-list {
  display: flex;
  flex-wrap: wrap;
}

.project-details__tools-used-item {
  padding: 1rem 2rem;
  margin-bottom: 1.5rem;
  margin-right: 1.5rem;
  font-size: 1.6rem;
  background: rgba(153, 153, 153, 0.2);
  border-radius: 5px;
  font-weight: 600;
  color: #777;
}

.project-details__links {
  display: flex;
  align-items: center;
  gap: 10rem;
  margin: 0 0;
}
.project-details__links h3 {
  margin: 0;
  padding: 0;
  margin-top: 1.5rem;
}
.links{
  display: flex;
  width: 50%;
  justify-content: space-between;
}

.project-details__links-btn {
  margin-right: 2rem;
}

@media only screen and (max-width: 37.5em) {
  .project-details__links-btn {
    margin-right: 0;
    width: 70%;
    margin-bottom: 2rem;
    text-align: left;
  }
}

.project-details__links-btn:last-child {
  margin: 0;
}

@media only screen and (max-width: 37.5em) {
  .project-details__links-btn:last-child {
    margin: 0;
  }
  .project-details__links {
    gap: 2rem;
  }
  .links{
    width: 70%;
  }
}

.header {
  position: fixed;
  width: 100%;
  z-index: 1000;
  background: #000;
  background: #ffffff;
  box-shadow: 0 5px 25px #cedff0;
}

.header__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 5rem;
}

@media only screen and (max-width: 56.25em) {
  .header__content {
    padding: 0 2rem;
  }
}

.header__logo-container {
  display: flex;
  align-items: center;
  cursor: pointer;
  color: #333;
  transition: color .3s;
}

.header__logo-container:hover {
  color: #1E90FF;
}

.header__logo-img-cont {
  width: 5rem;
  height: 5rem;
  border-radius: 50px;
  overflow: hidden;
  margin-right: 1.5rem;
  background: rgba(var(--main-color), 1);
}

@media only screen and (max-width: 56.25em) {
  .header__logo-img-cont {
    width: 4.5rem;
    height: 4.5rem;
    margin-right: 1.2rem;
  }
}

.header__logo-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  display: block;
}

.header__logo-sub {
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 1px;
}

.header__links {
  display: flex;
}

@media only screen and (max-width: 37.5em) {
  .header__links {
    display: none;
  }
}

.header__link {
  padding: 2.2rem 3rem;
  display: inline-block;
  font-size: 1.7rem;
  color: #242323;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 500;
  transition: color .3s;
}

.header__link:hover {
  color: rgba(var(--main-color), 1);
}

@media only screen and (max-width: 56.25em) {
  .header__link {
    padding: 3rem 1.8rem;
    font-size: 1.65rem;
  }
}

.header__main-ham-menu-cont {
  display: none;
  width: 3rem;
  padding: 2.2rem 0;
}

@media only screen and (max-width: 37.5em) {
  .header__main-ham-menu-cont {
    display: block;
  }
}

.header__main-ham-menu {
  width: 100%;
}

.header__main-ham-menu-close {
  width: 100%;
}

.header__sm-menu {
  background: #fff;
  position: absolute;
  width: 100%;
  top: 100%;
  visibility: hidden;
  opacity: 0;
  transition: all .3s;
  box-shadow: 0px 5px 5px 0px #cedff0;
  -webkit-box-shadow: 0px 5px 5px 0px #cedff0;
  -moz-box-shadow: 0px 5px 5px 0px #cedff0;
}

.header__sm-menu--active {
  visibility: hidden;
  opacity: 0;
}

@media only screen and (max-width: 37.5em) {
  .header__sm-menu--active {
    visibility: visible;
    opacity: 1;
  }
}

.header__sm-menu-link a {
  display: block;
  text-decoration: none;
  padding: 2.5rem 3rem;
  font-size: 1.7rem;
  color: #333;
  text-align: center;
  border-bottom: 2px solid #e6eef7;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 2px;
  transition: color .3s;
}

.header__sm-menu-link a:hover {
  /* color: rgba(var(--main-color), 1); */
  color: #1E90FF;
}

.header__sm-menu-link:first-child a {
  border-top: 1px solid #eee;
}

.header__sm-menu-link-last {
  border-bottom: 0;
}

.main-footer__short-desc {
  margin-top: 2rem;
  color: #eee;
  font-size: 1.5rem;
  line-height: 1.7;
}

.main-footer__social-cont {
  margin: 0;
  display: flex;
  gap: 4rem;
  justify-content: center;
}

.main-footer__social-cont a {
  display: flex;
  gap: 2rem;
  color: white;
  padding: 1rem 1rem;
  font-weight: 200;
}

.main-footer__icon {
  width: 3rem;
}

.main-footer__icon--mr-none {
  margin-right: 0;
}

.main-footer__lower {
  padding: 4rem 0;
  border-top: 1px solid #444;
  color: #eee;
  font-size: 1.2rem;
  text-align: left;
}

.main-footer__lower a {
  text-decoration: underline;
  font-weight: bold;
  margin-left: 2px;
}

.projecth {
  margin-left: -43rem;
}

@media only screen and (max-width: 56.25em) {
  .main-footer__lower {
    padding: 3.5rem 0;
  }

  .projecth {
    margin-left: 0rem;
  }

  .main-footer__social-cont {
    width: 100%;
    gap: 0rem;
    justify-content: space-between;
    padding: 0;
  }

  .foot {
    width: 100%;
    display: flex;
    gap: 2rem;
    justify-content: space-between;
    align-items: center;


  }

  .foot h2 {
    font-size: 2.5rem;
    font-weight: 200;
    border-right: 1px solid white;
    padding-right: 1rem;
  }

  .main-footer__icon {
    width: 3rem;
    height: 3rem;
  }

  .contact {
    padding: 1em;

    justify-content: space-between;
  }
}

.skills {
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
}

.about__content-skills {
  max-width: 80rem;
  margin: 0 auto;
}

.skills__skill {
  padding: 1rem 2rem;
  margin-bottom: 1.5rem;
  margin-right: 1.5rem;
  font-size: 1.6rem;
  background: #99999933;
  border-radius: 5px;
  font-weight: 500;
  color: #000;
  letter-spacing: .5px;
}

.skills__skill:hover {
  background-color: #7ebaf5;
}

@media only screen and (max-width: 37.5em) {
  .foot {
    gap: 1rem;
  }

  .skills {
    justify-content: flex-start;
  }
}

@keyframes wheel {
  to {
    opacity: 0;
    top: 27px;
  }
}

@-webkit-keyframes wheel {
  to {
    opacity: 0;
    top: 27px;
  }
}

.social-icon:hover,
.social-icon:active,
.social-icon:focus {
  background-color: #444;
  border-radius: 5px;
}
.projectc{
  margin-top: 0;
  padding-top: 0;
}