/*
0 - 600px:      Phone
600 - 900px:    Tablet portrait
900 - 1200px:   Tablet landscape
[1200 - 1800] is where our normal styles apply
1800px + :      Big desktop
$breakpoint arguement choices:
- phone
- tab-port
- tab-land
- big-desktop

Inside media queries 1em is always 16px i.e 1em = 16px at every screen size only inside media queries

WHY DOES NESTING CSS CLASSES WORK HERE??????

*/

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  font-family: inherit;
}

html {
  background: #e6eef7;
  background: linear-gradient(132deg, #e6eef7 0%, #ebf2ff 100%);
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  box-sizing: border-box;
  position: relative;
  line-height: 1.5;
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
  overflow-y: scroll;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style: none;
}

a:focus {
  outline: none;
}

.header {
  position: fixed;
  width: 100%;
  z-index: 1;
  background: #ffffff;
  box-shadow: 0 5px 5px #cedff0;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 5rem;
}

.header__logo-container {
  display: flex;
  align-items: center;
  cursor: pointer;
  color: #242323;
  transition: color .3s;
  margin: 1.35rem 0;
}

.header__logo-container:hover {
  color: #1E90FF;
}

.hm {
  display: none;
}

.header__logo-img-cont {
  width: 6.5rem;
  height: 6.5rem;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 1.5rem;
  background: #7ebaf5;
}

.header__logo-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  display: block;
}

.header__logo-sub {
  font-size: 2.1rem;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: .75px;
}

.header__links {
  display: flex;
}

.header__link {
  padding: 2.2rem 3rem;
  display: inline-block;
  font-size: 1.85rem;
  color: #242323;
  text-transform: uppercase;
  letter-spacing: .75px;
  font-weight: 500;
  transition: color .3s;
}

.header__link:hover {
  color: #1E90FF;
}

.home-hero {
  position: relative;
  color: #242323;
  height: 100svh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.home-hero::before {
  content: "";
  position: absolute;
  inset: 0;
  background:
    linear-gradient(132deg, #cedff0, #d4e0f0b3),
    url("/assets/img/bg2.jpg") no-repeat center center/cover;
  opacity: .75;
  z-index: -1;
}

.home-hero__content {
  margin-left: -16rem;
}

.heading-primary {
  padding-top: 8rem;
  font-weight: 600;
  font-size: 6rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-align: left;
  line-height: 1.4;
  margin-bottom: 2rem;
}

.namespan {
  display: block;
  font-weight: 700;
}

.home-hero__info {
  color: #242323;
  font-size: 2.5rem;
  max-width: 70rem;
  padding-right: 7rem;
  letter-spacing: 1px;
  line-height: 1.6;
}

.home-hero__cta {
  text-align: end;
  padding-top: 10rem;
}

.next-section {
  font-size: 2.5rem;
  color: #000000;
  position: relative;
  display: inline-block;
}

.next-section::after {
  content: '';
  position: absolute;
  left: 50%;
  bottom: -10%;
  width: 0;
  height: 3px;
  background-color: #242323;
  transform: translateX(-50%);
  transition: width 0.3s ease;
}

.next-section:hover {
  color: #242323;
}

.next-section:hover::after {
  width: 100%;
}

.-hero__cta span {
  font-size: 7rem;
  font-weight: 200;
  position: absolute;
  top: -90%;
  right: -25%;
}

.inspan {
  top: -65%;
  right: -16%;
  position: absolute;
  font-weight: 300;
  font-size: 6rem;
}

.main-container {
  max-width: 120rem;
  margin: auto;
  width: 92%;
  padding-top: 7rem;
}

.heading-sec__mb-bg,
.heading-sec__mb-med {
  margin-bottom: 7rem;
}

.heading-sec__main {
  color: #242323;
  font-weight: 600;
  display: block;
  font-size: 4.5rem;
  text-transform: uppercase;
  letter-spacing: .75px;
  text-align: left;
  position: relative;
  text-align: center;
}

.heading-sec__sub,
.project-details__desc-para,
.project_sub {
  display: block;
  text-align: center;
  color: #484848;
  letter-spacing: 1px;
  font-size: 2.15rem;
  font-weight: 400;
  max-width: 80rem;
  margin: auto;
  line-height: 1.6;
}

.project-details__desc-para {
  letter-spacing: .75px;
  margin-bottom: 2rem;
  font-size: 2.05;
  text-align: left;
}

.project_sub {
  text-align: start;
}

.foot {
  display: flex;
  gap: 3rem;
}

.foot h2 {
  color: #fff;
  font-size: 3rem;
  font-weight: 300;
  margin: 0;
  border-right: 2px solid white;
  padding-right: 3rem;
}

.learnmore {
  font-size: 1.75rem;
  letter-spacing: 1px;
  color: #0000EE;
  text-transform: uppercase;
  font-weight: 500;
  position: absolute;
  top: 90%;
  right: 0%;
}

.livelink,
.livelinkt {
  display: block;
  font-size: 1.65rem;
  letter-spacing: 1px;
  color: #0000EE;
  text-transform: uppercase;
  font-weight: 500;
}

.livelinkt {
  margin-top: 3rem;
}

.learnmore:hover,
.livelink:hover,
.livelinkt:hover {
  color: #1E90FF;
}

.externallink {
  width: 16px;
}

.d-none {
  display: none;
}

strong {
  font-weight: 600;
}

.about__content {
  text-align: center;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 10rem;
}

.about__content-title {
  font-weight: 500;
  font-size: 3rem;
  margin-bottom: 2rem;
}

.about {
  padding-bottom: 7rem;
}

.projects__row {
  display: grid;
  grid-template-columns: 1.5fr 1fr;
  grid-gap: 2.5rem;
  box-shadow: 1px 2px 6px #cedff0;
  padding: 2em;
  margin-bottom: 7rem;
  border-radius: 1em;
}

.projects__row:last-child {
  margin-bottom: 0;
}

.projects__row-img-cont {
  overflow: hidden;
}

.projects__row-img {
  width: 100%;
  display: block;
  object-fit: cover;
}

.projects__row-content {
  padding: 0;
  display: flex;
  align-items: center;
  position: relative;
}

.projects__row-content-title {
  font-weight: 500;
  font-size: 2.8rem;
  letter-spacing: 1px;
  line-height: 1.2;
  margin-bottom: 1rem;
}

.projects__row-content-desc {
  margin-bottom: 3rem;
  font-size: 2rem;
  color: #444;
  max-width: 60rem;
  line-height: 1.7;
  letter-spacing: .5px;
  text-align: start;
}

.contact {
  display: flex;
  justify-content: center;
  padding: 2.5em;
  background-color: #151515;
  backdrop-filter: blur(10px);
  background-position: center;
}

.project-details__content {
  padding: 4rem 0 3rem;
  max-width: 90rem;
  margin: auto;
  margin-bottom: 3rem;
}

.project-details__content-title,
.project-details__content-title-last {
  font-size: 3rem;
  font-weight: 500;
  letter-spacing: 1px;
  line-height: 1.2;
}

.project-details__content-title {
  margin-bottom: 3rem;
}


.project-details__showcase-img-cont {
  width: 100%;
  margin-bottom: 6rem;
}

.project-details__showcase-img {
  width: 100%;
}

.project-details__tools-used,
.project-details__desc {
  margin-bottom: 7rem;
}

.project-details__tools-used-list {
  display: flex;
  flex-wrap: wrap;
}

.project-details__tools-used-item {
  padding: 1rem 2rem;
  margin-bottom: 1.5rem;
  margin-right: 1.5rem;
  font-size: 1.6rem;
  background: #99999933;
  border-radius: 5px;
  font-weight: 600;
  color: #777;
}

.project-details__links {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.links {
  display: flex;
  width: 50%;
  justify-content: space-between;
}

.main-footer__social-cont {
  margin: 0;
  display: flex;
  gap: 4rem;
  justify-content: center;
}

.main-footer__social-cont a {
  display: flex;
  gap: 2rem;
  color: white;
  padding: 1rem 1rem;
  font-weight: 200;
}

.main-footer__icon {
  width: 3rem;
}

.main-footer__icon--mr-none {
  margin-right: 0;
}

.skills,
.pskills {
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
}

.pskills {
  justify-content: start;
}

.about__content-skills {
  max-width: 80rem;
  margin: 0 auto;
}

.skills__skill {
  padding: 1rem 2rem;
  margin-bottom: 1.5rem;
  margin-right: 1.5rem;
  font-size: 1.6rem;
  background: #99999933;
  border-radius: 5px;
  font-weight: 400;
  color: #242323;
  letter-spacing: .5px;
}

.skills__skill:hover {
  background-color: #76b5f5;
}

.social-icon:hover,
.social-icon:active,
.social-icon:focus {
  background-color: #444;
  border-radius: 5px;
}

.projectc {
  margin-top: 0;
  padding-top: 0;
}

@media only screen and (min-width: 112.5em) {
  html {
    font-size: 65%;
  }
}

@media only screen and (max-width: 75em) {
  html {
    font-size: 59%;
  }
}

@media only screen and (max-width: 56.25em) {
  html {
    font-size: 56%;
  }

  .hm {
    display: none;
  }

  .exit {
    display: none;
  }

  .home-hero::before {
    background:
      linear-gradient(132deg, rgba(206, 225, 244, 0.7), rgba(222, 233, 247, 0.7)),
      url("/assets/img/bg1.jpg") no-repeat center center/cover;
  }

  .projects__row {
    grid-template-columns: 1fr;
    grid-gap: 2rem;
    margin-bottom: 7rem;
  }

  .home-hero__cta {
    padding-top: 7rem;
  }

  .learnmore {
    font-size: 1.65rem;
    top: 85%;
  }

  .sec-pad {
    padding: 4rem 0;
  }

  .heading-sec__mb-bg {
    margin-bottom: 4rem;
  }

  .header__logo-img-cont {
    width: 5.25rem;
    height: 5.25rem;
    margin-right: 1.2rem;
  }

  .projects__row {
    text-align: left;
  }

  .header {
    padding: 0 2rem;
  }

  .header__link {
    padding: 3rem 1.8rem;
  }
  .hm2{
  padding: .5rem 0rem;
}

  .heading-primary {
    margin: 0;
    line-height: 1.4;
    margin-bottom: 1.5rem;
  }

  .heading-sec__mb-med {
    text-align: start;
  }

  .heading-sec__main {
    margin-bottom: .5rem;
    text-align: start;
  }

  .about__content-title {
    text-align: start;
  }

  .skills {
    justify-content: flex-start;
    width: 90%;
  }

  .heading-sec__sub {
    font-size: 2rem;
    text-align: start;
  }

  .project_sub {
    font-size: 2rem;
  }

  .project-details__desc-para {
    font-size: 1.95rem;
  }

  .main-footer__lower {
    padding: 3.5rem 0;
  }

  .main-footer__social-cont {
    width: 100%;
    gap: 0rem;
    justify-content: space-between;
    padding: 0;
  }

  .foot {
    width: 100%;
    display: flex;
    gap: 2rem;
    justify-content: space-between;
    align-items: center;
  }

  .home-hero__content {
    margin-left: 0;
  }

  .foot h2 {
    font-size: 2.5rem;
    font-weight: 200;
    border-right: 1px solid white;
    padding-right: 1rem;
  }

  .main-footer__icon {
    width: 3rem;
    height: 3rem;
  }

  .open {
    width: 3em;
  }

  .contact {
    padding: 1em;
    justify-content: space-between;
  }

  .about__content {
    grid-template-columns: 1fr;
    grid-gap: 8rem;
  }

  .home-hero {
    width: 100svw;
    height: 100svh;
  }

  .project-details__tools-used,
  .project-details__desc {

    margin-bottom: 5rem;
  }
}

@media only screen and (max-width: 37.5em) {
  .hm {
    display: unset;
  }

  .header__logo-sub {
    font-size: 2rem;
  }

  .heading-sec__main {
    text-align: start;
  }

  .namespan {
    font-weight: 600;
    font-size: 5.5rem;
  }

  .heading-primary {
    font-size: 4.5rem;
  }

  .project-cs-hero {
    height: unset;
    min-height: unset;
  }

  .project-details__content-title,
  .project-details__content-title-last {
    font-size: 2.5rem;
  }

  .home-hero {
    width: 100vw;
    height: 100svh;
    padding: 0rem;
  }

  .heading-primary {
    width: 90%;
  }

  .home-hero__content {
    margin-top: 4rem;
    width: 92%;
  }

  .home-hero__info {
    width: 90%;
    padding: 0;
    font-size: 2.2rem;
  }

  .about__content-title {
    font-size: 2.5rem;
    text-align: start;
  }

  .foot h2 {
    display: none;
  }

  .skills {
    width: unset;
  }

  .home-hero__cta {
    padding-right: 3rem;
    padding-top: 8rem;
  }

  .project-cs-hero__content {
    padding: 19rem 0 13rem 0;
    margin: auto;
    position: static;
    transform: translate(0, 0);
  }

  .heading-sec__sub {
    font-size: 1.95rem;
  }

  .learnmore {
    font-style: 1.5rem;
    top: 87%;
  }

  .foot {
    gap: 1rem;
  }

  nav {
    position: fixed;
    top: 0;
    right: 0;
    width: 100vw;
    flex-direction: column;
    display: flex;
    display: none;
    margin-top: .5rem;
    background-color: white;
    border-bottom: 3px solid #e6eef7;
  }

  .exit {
    display: unset;
    width: 3.25em;
    float: right;
    margin: 1.52em;
    margin-right: 1.75em;
    cursor: pointer;
    align-self: flex-end;
  }

  .header__links a {
    display: block;
    text-decoration: none;
    padding: 2.5rem 3rem;
    color: #333;
    text-align: center;
    background-color: #ffffff;
    border-top: 2px solid #e6eef7;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: color .3s;
  }

  .header__link:hover {
    font-size: 1.9rem;
    color: #1E90FF;
    background-color: #c2d9f2;
  }

  .header__links {
    flex-direction: column;
  }

  .project-details__links {
    align-items: start;
    flex-direction: column;
    gap: 2rem;
  }

}

@keyframes wheel {
  to {
    opacity: 0;
    top: 27px;
  }
}

@-webkit-keyframes wheel {
  to {
    opacity: 0;
    top: 27px;
  }
}

.open-nav {
  display: flex;
}

.menu-btn {
  display: none;
}